<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log"
	  >

	<variable name="appName" value="305Vision"/>
	
	<targets async="true">
		<target name="logfile"
				xsi:type="File"
				fileName="${basedir}/logs/${appName}-${shortdate}.log"
				layout="${longdate} [${uppercase:${level}}] ${callsite}(${callsite-filename:includeSourcePath=False}:${callsite-linenumber}) - ${message} ${exception:format=ToString}"
				maxArchiveFiles="999"
				archiveFileName="${basedir}/logs/${appName}-${shortdate}-${###}.log"
				createDirs="true"
				archiveAboveSize="102400"
				archiveEvery="Day"
				encoding="UTF-8"
		/>

		<!--<target xsi:type="RichTextBox" name="richTextBox"
          layout="${longdate} ${level:uppercase=true}: ${message} ${onexception:${exception:format=Message}}"
          autoScroll="true"
          maxLines="1000"
          formName="FormOutput"
          controlName="logBox"
          useDefaultRowColoringRules="false" >
		</target>-->
		
		<target xsi:type="Debugger" name="debugger" layout="${longdate} ${level:uppercase=true} [${threadname}] ${message} ${onexception:${exception:format=tostring} ${newline}}" />
		
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="debugger" />
		<logger name="*" minlevel="Debug" writeTo="logfile" />
		<!--<logger name="*" minlevel="Info" writeTo="richTextBox" />-->
	</rules>
</nlog>